html {
    width: auto;
    height: auto;
    margin-left: 20px;
}

.header {
    width:660px;
}

.jumbotron {
    margin-left: -20px;
}

.card {
    float: left;
    padding-right: 0;
    margin-right: 20px;
}

p {
    text-indent: 10px;
}

img {
    height: 322px;
    width: 359.625;

}

.card-body {
    height: 152px;
}

.plotBox {
    padding-left: 20px;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
}